@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700&display=swap');
:root {
    --greyish-blue: hsl(218, 22%, 67%);
    --light-gray: hsl(204, 43%, 93%);
    --black: hsla(0, 0%, 0%, 0.2);
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 47%, 52%);
    --green: hsl(71, 73%, 54%);
    --green-hover: hsl(71, 72%, 45%);
}

body, html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--light-gray);
}

#container {
    border-radius: 0.5rem;
}

#description {
    color: var(--greyish-blue);
    grid-area: description;
    background-color: var(--white);
}

#description h1 {
    color: var(--cyan);
}

#description h2 {
    color: var(--green-hover);
}

#price-description {
    grid-area: price-description;
    background-color: var(--cyan);
    color: white;
}

#about-us {
    grid-area: about-us;
    background-color: var(--light-cyan);
}

/* Viewport for cellphones */
@media screen and (max-width: 480px) {
    #container {
        margin: 2rem;
        display: grid;
        grid-template-areas: 
        "description"
        "price-description"
        "about-us";
        box-shadow: 0 0.5rem 1rem var(--black);
    }

    #description {
        padding: 1.5rem 2rem;
        display: flex;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        flex-direction: column;
    }

    #description h1 {
        margin: 0rem;
        font-size: 1.5rem;
    }
    
    #description h2 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }
    
    #description p {
        text-align: justify;
        line-height: 1.75rem;
        margin-bottom: 0.5rem;
    }
    
    #price-description {
        padding: 1rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #price-description h3 {
        text-align: center;
        margin: 0;
        padding: 1rem 0 0.5rem;
        font-size: 1.4rem;
    }
    
    #price {
        margin: 0;
        padding: 0.8rem 0 0.3rem;
        font-weight: 200;
        display: inline-flex;
        align-items: center;
    }

    #number {
        align-items: center;
        padding-right: 0.5rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
    }

    #details {
        margin-top: 0;
        margin-bottom: 1.75rem;
        font-size: 0.9rem;
        text-align: justify;
        font-weight: 300;
    }

    #button {
        background-color: var(--green);
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        color: var(--white);
        text-decoration: none;
        font-weight: 600;
        border-radius: 0.3rem;
        box-shadow: 0 0.5rem 1rem var(--black);
    }

    #about-us {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        font-weight: 200;
        line-height: 1.5rem;
        padding: 0.5rem 2rem;
        color: var(--white);
    }
}

@media screen and (min-width: 481px) {
    #container {
        display: grid;
        grid-template-areas:
            "description description"
            "price-description about-us";
        width: 50rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem var(--black);
        margin: auto;
    }

    #description {
        padding: 1.5rem 3rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    #description h1 {
        font-size: 2rem;
        line-height: 2rem;
        padding-bottom: 0.2rem;
    }

    #description h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    #price-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5rem 3rem;
        /* margin: 2rem; */
        border-bottom-left-radius: 0.5rem;
    }

    #price-description h3 {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
    }
    
    #price {
        margin: 0;
        margin-top: 0.5rem;
        font-weight: 200;
        display: inline-flex;
        align-items: center;
    }

    #number {
        align-items: center;
        padding-right: 0.5rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
    }

    #details {
        margin-bottom: 1rem;
        margin-top: -0.2rem;
        text-align: justify;
        font-size: 1rem;
        font-weight: 300;
    }

    #button {
        background-color: var(--green);
        width: 100%;
        text-align: center;
        padding: 0.75rem 0;
        color: var(--white);
        text-decoration: none;
        font-weight: 600;
        border-radius: 0.3rem;
        box-shadow: 0 0.5rem 1rem var(--black);
    }

    #button:hover {
        background-color: var(--green-hover);
        width: 100%;
        text-align: center;
        padding: 0.75rem 0;
        color: var(--white);
        text-decoration: none;
        font-weight: 600;
        border-radius: 0.3rem;
        box-shadow: 0 0.5rem 1rem var(--black);
    }

    #about-us {
        color: var(--white);
        padding: 1.5rem 3rem;
        border-bottom-right-radius: 0.5rem;
    }
    
    #about-us h3 {
        font-weight: 600;
    }
}
